<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.BillMapper">

    <insert id="createBills" parameterType="org.csu.hospital.domain.Bill">
        INSERT INTO
        `order`
        VALUES
        (#{id},#{totalPrice},#{status},#{date},#{type},#{patient}) ;
    </insert>
    <select id="getBills" resultType="org.csu.hospital.domain.Bill">
        select
        *
        from
        `order`
    </select>
    <select id="getBillsByPatient" parameterType="int" resultType="org.csu.hospital.domain.Bill">
        SELECT
        *
        FROM
        `order`
        WHERE
        patient = #{id}
    </select>
    <select id="getBillItemsByBill" resultType="org.csu.hospital.domain.BillItem">
        SELECT
        *
        FROM
        orderitem
        WHERE
        orderId = #{id}
    </select>
</mapper>