<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.DoctorMapper">
    <select id="getDoctorList" resultType="Doctor">
        select
        *
        from doctor
    </select>
    <select id="getDoctorListByDepartment" parameterType="String" resultType="Doctor">
        select
        doctor.*
        from doctor,department
        WHERE doctor.docDepartment=department.name and doctor.docDepartment=#{value}
    </select>
    <select id="getDoctorListByDocName" parameterType="String" resultType="Doctor">
        select
        *
        from doctor
        WHERE docName = #{value}
    </select>

    <select id="getDoctorListByDocId" parameterType="int" resultType="Doctor">
        select
        *
        from doctor
        WHERE docId = #{value}
    </select>

    <select id="getDoctorByDocId" parameterType="long" resultType="Doctor">
        select
        *
        from doctor
        WHERE docId = #{value}
    </select>



    <select id="getRegisterDate" resultType="Registeredrecord">
        select
        *
        from registeredrecord
    </select>
    <select id="getDoctorRegisterTime" parameterType="long" resultType="String">
        select
        Time
        from registeredrecord
        where docId = #{value}
    </select>

    <insert id="doAppointment" parameterType="Registeredrecord">
        INSERT INTO registeredrecord
            (docId, patId, time)
        VALUES(
            #{docId}, #{patId}, #{time})
    </insert>

    <update id="updateDoctorWage" parameterType="Doctor">
        UPDATE doctor SET
            wage = #{wage}
        WHERE docId = #{docId}
    </update>
    <update id="updateDoctorInfo" parameterType="Doctor">
        UPDATE doctor SET
            docName = #{docName},
            docDepartment = #{docDepartment},
            wage = #{wage},
            docRank = #{docRank}
        WHERE docId = #{docId}
    </update>
    <delete id="deleteDoctor" parameterType="int">
        DELETE FROM doctor WHERE docId = #{value}
    </delete>
</mapper>