<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.FundMapper">

    <select id="getBillsInSomeDays" resultType="org.csu.hospital.domain.Bill">
        SELECT
        *
        FROM
        `order`
        WHERE
        time
        BETWEEN
        (SELECT DATE_ADD(now(),INTERVAL -#{days} DAY ))
        AND
        now();
    </select>
</mapper>