<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.FundMapper">

    <select id="getTotalInSomeDays" resultType="int">
        SELECT
        IFNULL(sum(totalPrice),0)
        FROM
        `order`
        WHERE
        time
        BETWEEN
        (SELECT DATE_ADD(now(),INTERVAL -#{days} DAY ))
        AND
        now();
    </select>
    <select id="getTotalAtSomeDaysBefore" resultType="int">
        SELECT
        IFNULL(sum(totalPrice),0)
        FROM
        `order`
        WHERE
        time
        BETWEEN
        (SELECT DATE_ADD(now(),INTERVAL -#{days}-1 DAY ))
        AND
        (SELECT DATE_ADD(now(),INTERVAL -#{days} DAY ))
    </select>
    <select id="getTotalOutcomeAtSomeDaysBefore" resultType="java.lang.Double">
        SELECT
        IFNULL(SUM(amount*price),0)
        FROM
        purchaserecords
        WHERE
        date
        BETWEEN
        (SELECT DATE_ADD(now(),INTERVAL -#{days}-1 DAY ))
        AND
        (SELECT DATE_ADD(now(),INTERVAL -#{days} DAY ))
    </select>
    <select id="getTotalOutcomeInSomeDays" resultType="java.lang.Double">
        SELECT
        IFNULL(sum(amount*price),0)
        FROM
        purchaserecords
        WHERE
        date
        BETWEEN
        (SELECT DATE_ADD(now(),INTERVAL -#{days} DAY ))
        AND
        now();
    </select>

</mapper>