<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.MedicineMapper">
    <insert id="insertMedicine" parameterType="org.csu.hospital.domain.Medicine">
        INSERT INTO
        medicine
        (
        medName,
        medPrice,
        medStore,
        medDesc
        )
        VALUES
        (
        #{medName},
        #{medPrice},
        #{medStore},
        #{medDesc}
        )
    </insert>
    <update id="updateMedicine" parameterType="org.csu.hospital.domain.Medicine" >
        UPDATE
        medicine
        SET
        medName = #{medName},
        medPrice = #{medPrice},
        medStore = #{medStore},
        medDesc = #{medDesc}
        WHERE
        medId = #{medId}
    </update>
    <delete id="deleteMedicine">
        DELETE
        FROM
        medicine
        WHERE
        medId = #{id}
    </delete>

    <select id="getPriceByMedicineId" resultType="java.lang.Double">
        SELECT
        (medPrice)
        FROM
        medicine
        WHERE
        medId = #{id}
    </select>
    <select id="getMedicineById" resultType="org.csu.hospital.domain.Medicine">
        SELECT
        *
        FROM
        medicine
        WHERE
        medId = #{id}
    </select>
    <select id="getPurchaseRecordByPage" resultType="org.csu.hospital.domain.PurchaseRecord">
        SELECT
        *
        FROM
        purchaserecords
        LIMIT #{pagesize} OFFSET #{pagenum}
    </select>
    <select id="getPurchaseRecordNum" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        purchaserecords
    </select>
    <select id="getMedicineByPage" resultType="org.csu.hospital.domain.Medicine">
        SELECT
        *
        FROM
        medicine
        LIMIT #{pagesize} OFFSET #{pagenum}
    </select>
    <select id="getMedicineNum" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        medicine
    </select>

</mapper>