<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.OperationRoomsMapper">
    <update id="updateState" parameterType="UpdateOperationRoom">
        UPDATE operatingroom SET
            state = #{state},
            roomId = #{roomId}
        WHERE roomId = #{id}
    </update>

    <select id="getOperationRoomsInfo" resultType="Operatingroom">
        select
        *
        from operatingroom
    </select>

    <select id="getOperationRoomsInfoByRoomId" resultType="Operatingroom">
        select
        *
        from operatingroom
        where roomId = #{value}
    </select>

    <insert id="insertOperationRoom" parameterType="Operatingroom">
        INSERT INTO operatingroom
        (roomId, state)
        VALUES(
            #{roomId}, #{state})
    </insert>

</mapper>