<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.PatientMapper">
    <select id="getPatient" parameterType="string" resultType="Patient">
        SELECT
        *
        From Patient
        WHERE  patTel = #{value}
    </select>
    <select id="getMedicalRecordByPatient" resultType="org.csu.hospital.domain.MedicalRecord">
        SELECT
        *
        FROM
        medicalrecords
        WHERE
        patId = #{patientId}
    </select>
    <select id="getItemListByRecord" resultType="org.csu.hospital.domain.MedicalRecordItem">
        SELECT
        *
        FROM
        medicalrecorditems
        WHERE
        recId = #{recId}
    </select>
    <insert id="insertPatient" parameterType="Patient">
        INSERT INTO PATIENT
        (patName, patTel,patPwd)
        VALUES(
            #{patName},#{patTel}, #{patPwd})
    </insert>

    <select id="getPatientByPatId" parameterType="int" resultType="Patient">
        SELECT
        *
        From Patient
        WHERE  patId = #{value}
    </select>
    <select id="getOperationRoomsInfo" resultType="Patient">
        SELECT
        *
        From Patient
    </select>
    <update id="UpdatePatient" parameterType="Patient">
    UPDATE PATIENT SET
    patName = #{patName},
    patGender = #{patGender},
    patAge = #{patAge},
    patPwd = #{patPwd},
    patDeposit = #{patDeposit},
    patDate = #{patDate},
    patTel = #{patTel}
    WHERE patId = #{patId}
    </update>
</mapper>