<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.PatientMapper">
    <select id="getPatient" parameterType="string" resultType="Patient">
        SELECT
        *
        From Patient
        WHERE  patTel = #{value}
    </select>
    <insert id="insertPatient" parameterType="Patient">
        INSERT INTO PATIENT
        (patName, patTel,patPwd)
        VALUES(
            #{patName},#{patTel}, #{patPwd})
    </insert>
</mapper>