<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.hospital.persistence.WardMapper">

    <update id="updateWard">
        UPDATE
        ward
        SET
        patId = #{patId},
        master = #{master}
        WHERE
        wardId = #{id}
    </update>
    <delete id="deleteWard">
        DELETE FROM
        ward
        WHERE
        wardId = #{id}
    </delete>

    <select id="getWards" resultType="Ward">
        SELECT
            wardId AS id,
            patId AS patId,
            master AS master
        From ward
    </select>
    <select id="getWardsByWardId" parameterType="int" resultType="Ward">
        SELECT
            wardId AS id,
            patId AS patId,
            master AS master
        From ward
        WHERE  wardId = #{value}
    </select>
</mapper>